<div class="banner">
  <div class="container">
    <div class="card mb-2">
      <div class="black-banner">
        <h2><%= @house.name %></h2>
        <p><%= @house.address %></p>
        <p><%= @house.square_feet %></p>
        <p><%= @house.number_of_rooms %></p>
      </div>
    </div>
  </div>
</div>

