<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <% @maintenances.each do |maintenance| %>
        <a href="<%= maintenance_path(maintenance) %>">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= maintenance.title %></h5>
            <% if maintenance.photos.attached? %>
              <% maintenance.photos.each do |photo| %>
                <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "img-fluid" %>
              <% end %>
            <% end %>
          </div>
        </div>
        </a>
      <% end %>
    </div>
  </div>
</div>
