<div>
    <div>
      <h4>
        <%= @maintenance.title %>
      </h4>
    </div>
    <div>
      <h5>
        <%= @maintenance.description %>
      </h5>
    </div>
</div>
<% if @maintenance.photos.attached? %>
<% @maintenance.photos.each do |photo| %>
<%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<% end %>
